{% extends 'xyq_files/base.html' %}

{% block title %}好友列表{% endblock %}

{% block content %}
<h2>好友列表</h2>
<div class="list-group mt-3">
    {% for friend in friends %}
    <a href="{% url 'users:chat_with_friend' friend.id %}" class="list-group-item list-group-item-action">
        {{ friend.username }}
        {% if friend.get_full_name %}
        ({{ friend.get_full_name }})
        {% endif %}
    </a>
    {% empty %}
    <div class="alert alert-info">你还没有好友，快去添加吧！</div>
    {% endfor %}
</div>
{% endblock %}